body {
  font-family: Open Sans,Arial;
  color: #454545;
  font-size: 16px;
  margin: 2em auto;
  max-width: 700px;
  padding: 1em;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #2096f3;
}

a:hover,
.active {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

td {
  border:1px solid #000;
  padding:5px;
}

.navigation ul {
  padding: 0;
  margin: 0;
}

.navigation li {
  list-style-type: none;
  display: inline-block;
}

.navigation li:after {
  content: " · ";
}

.navigation li:last-of-type:after {
  content: '';
}

h1 {
  font-size: 64px;
  margin: 0;
}

.ring-list {
  padding-top: 8px;
}

.ring-list ul {
  margin: 0;
  padding: 0;
}

.ring-list li {
  display: inline-block;
}

.ring-list img {
  width: 128px;
  height: auto;
  margin: 2px;
}

.hide {
  display: none;
}

hr {
  display: none;
}

/* comments */
.home-desc {
  display: none;
}

#HCB_comment_box .btn {
  background: #074adb !important;
  color: #ffffff !important;
  border: 1px solid #fff !important;
  border-radius: 0 !important;
  font-size: 13px !important;
  font-family: 'Open Sans' !important;
}

#HCB_comment_box a {
  display: none;
}

.btn-secondary {
  display: none !important;
}

#hcb_subscribe span {
  color: #ffffff !important;
  font-size: 13px !important;
  font-family: Verdana, Arial, Helvetica !important;
}

#hcb_settings {
  color: #ffffff !important;
  font-size: 13px !important;
  font-family: Verdana, Arial, Helvetica !important;
}

@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}