body {
    background-color: black;
    color: white;
    font-family: monospace;
}

#title {
    color: white;
    text-align: center;
    padding-top: 15px;
}

a {
    color: #9ae29a;
}

#navbar a {
    color: white;
    text-decoration: none;
}

#navbar {
    text-align: center;
    display: flex;
    justify-content: center;
    color: grey;
}

#navbar ul {
    list-style-type: none;
    padding: 2.5px;
    width: 600px;
}

#navbar li {
    display: inline;
    padding: 2.5px;
}

#navbar a:hover {
    color: #77b177;
}

#presentation {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}

#homepage {
    padding-top: 10px;
    text-align: center;
}

#presentation p {
    border-top: 1px solid #24292f33;
    padding-top: 15px;
    max-width: 500px;
    display: block;
}

.footer ul {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 1px solid #24292f33;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #57667A;
    font-size: 12px;
    width: 700px;
    margin: auto;
    text-align: center;
}

.footer li {
    list-style-type: none;
    display: inline;
    padding-right: 0;
}

.footer img {
    width: 80px; 
    height: auto;
    text-align: center;
}

.projects-list ul {
    width: 600px;
}

.ring-list ul {
    width: 500px;
    padding: 0;
}

.ring-list ul li {
    display: inline-block;
}